.page__about {
  min-height: 450px;
  margin-top: 40px;
}

.page__about ul {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
}

.page__about li {
	margin-bottom: 10px;
  line-height: 35px;
}

.page__about h3 {
  font-weight: 500;
}

.resume {
  display: inline-block;
  margin-bottom: 30px;
}
