*, 
*:after, 
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #212121;
  color: #fff;
  font: 16px "Roboto Mono", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
}

::selection {
  background: #ffffff;
  color: #212121;
}

::-moz-selection {
  background: #ffffff;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  outline: 1px solid #ddd;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #212121;
  outline: 1px solid #212121;
  border-radius: 3px;
}

a {
	color: #fff;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	transition: border 100ms ease-in;
  line-height: 1.8;
  padding-bottom: 1px;
}

a:focus,
a:hover {
  border-bottom: 2px solid;
  font-weight: 500;
}

h1, h3 {
	font-weight: 400;
	text-align: left;
}

h1, h2, h3, h4, h5 {
  margin: 30px 0 20px;
}

p {
  margin: 12px 0 1.1em;
  line-height: 1.8;
}

ul li {
  margin: 15px 0;
  margin-left: 20px;
}

ul {
  margin: 20px 0;
}

small i {
  margin-bottom: 20px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
	margin-top: 50px;
  margin-bottom: 15px;
}

.title__tag {
	display: block;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 25px;
}

.title__tag span,
footer i span {
  font-style: normal;
}

footer {
  max-width: 640px;
  margin: 40px auto;
  margin-bottom: 20px;
  text-align: center;
}

footer i span {
  color: red;
}

header {
  margin-bottom: 30px;
}

header a {
  font-size: 14px;
}

header a.active {
  font-weight: 500;
}

.social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 0;
  margin-left: 3px;
  background-repeat: no-repeat;
  position: relative;
  top: 7px;
}

.social a:hover {
	padding-bottom: 0;
}

.social p {
	width: 300px;
  font-size: 14px;
  margin: 0 auto;
}

.social__github {
	background-image: url("../images/github-circle.svg");
}

.social__twitter {
	background-image: url("../images/twitter-circle.svg");
	background-size: 108%;
}

.social__email {
	background-image: url("../images/email-circle.svg");
	background-size: 91.5%;
	position: relative;
	top: 9px !important;
	left: 2px;
}

.page__content {
  min-height: 450px;
  margin-top: 50px;
  padding: 0 10px;
}

.page__content > h3 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
}

.page__content .heading {
	font-weight: 500;
  margin-bottom: 10px;
}

.wrapper__page {
  max-width: 640px;
}

.talk__list {
	margin-bottom: 60px;
}

.post__list {
  margin: 10px 0;
}

@media all and (max-width: 480px) {
  .talks {
    margin-bottom: 30px;
  }
}

embed {
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.post__list h4 {
  font-size: 18px;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 0;
}

.post__list .posts li a {
  font-size: 17px;
  font-weight: 500;
  border: 0;
}

.post__list .posts li {
  line-height: 35px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 0;
  margin-bottom: 40px;
}

.post__list .posts .post-date {
  font-size: 13px;
  font-style: italic;
}

.post__list .posts li .post-read-more {
  background: #fff;
  color: #212121;
  padding: 0 10px;
  border-radius: 33px;
  font-size: 12px;
  border: none;
  height: 30px;
  line-height: 27px;
}

.post__list .posts li .post-read-more:hover {
  opacity: 0.9;
}

.post__list .posts li .post-read-more span {
  font-size: 17px;
}

.post__list p {
  font-size: 14px;
  padding-left: 2px;
}
