.post__header {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  background: #212121;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.post__header a:first-child {
  margin-right: 10px;
}

.post__header a:last-child {
  margin-left: 10px;
  margin-right: 30px;
}

.post__content {
  background: #fff;
  color: #212121;
  padding: 20px;
  word-break: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 1640px;
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.post__content ::selection {
  background: #212121;
  color: #fff;
}

.post__content ::-moz-selection {
  background: #212121;
  color: #fff;
}

.highlight ::selection {
	background: #fff;
  color: #212121;
}

.highlight ::-moz-selection {
	background: #fff;
  color: #212121;
}

.post__content h1 {
  margin-top: 10px;
  font-weight: 500;
}

.post__content h4,
.post__content h3 {
  font-weight: 500;
}

.post__content a {
  color: #2196F3;
  border-color: #ccc;
  font-weight: 500;
}

.post__content a:focus,
.post__content a:hover {
  outline: thin dotted;
}

.post__content ol li {
  line-height: 35px;
}

.post__content p {
  font-size: 17px;
  line-height: 1.6;
}

.post__content b {
  font-weight: 500;
}

.post__content img:not(.no-zoom) { 
  cursor: zoom-in;
}

.post__content img {
  max-width: 100%;
}

.zoom__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: zoom-out;
  user-select: none;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  transition: visibility 0s linear 0s, opacity .4s 0s;
}

.zoom__container--visible {
  visibility: visible;
  opacity: 1;
}

.zoom__overlay {
  /*background: rgba(0, 0, 0, 0.7);*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.zoom__element,
.zoom__element img {
  position: fixed;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zoom__element img {
  max-width: 75%;
}

time {
  font-family: "Roboto mono", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

.post__content ol { 
  margin-bottom: 30px; 
  margin-left: 40px; 
}

.post__content li {
  line-height: 25px;
}

.post__content h2 {
  font-weight: 500;
  margin-top: 20px;
}

.blur--bg {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.post__share {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 15px;
  width: 250px;
}

.post__share a {
  color: #fff;
  border: 0;
  padding: 2px;
  border-radius: 2px;
  min-width: 60px;
  text-align: center;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__share a:not(:first-child) {
  margin-left: 10px;
}

.twitter {
  background: #00aced;
}

.gplus {
  background: #D64937;
  width: 70px;
}

.facebook {
  background: #3B5997;
  width: 75px;
}

@media all and (max-width: 480px) {
  body.posts {
    margin: 0;
  }

  .posts .post__content {
    padding: 10px;
  }

  .posts .wrapper {
    padding: 0;
  }

  .wrapper {
    font-size: 17px;
  }

  #disqus_thread {
    padding: 10px;
  }

  .posts footer i {
    text-align: center;
    display: block;
  }

  time {
    font-size: 14px;
    margin-top: 10px;
  }

  .post__details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.color__red .highlighter-rouge {
  color: red;
}

.color__green .highlighter-rouge {
  color: green;
}

.post__content table {
  width: 100%;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;
  margin: 30px 0;
}

.post__content th {
  cursor: auto;
  background: #F9FAFB;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: 10px;
  vertical-align: inherit;
  font-weight: 500;
  text-transform: none;
  border-bottom: 1px solid rgba(34,36,38,.1);
  border-left: none;
}

.post__content td {
  padding: 10px;
}

.post__content tbody td:last-child,
.post__content thead th:last-child {
  width: 65px;
}

.posts iframe {
  display: block;
  margin: 30px auto;
}

.accessibility__example {
  margin: 50px auto;
  text-align: center;
}

.accessibility__example button,
.accessibility__example div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.post__content .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post__content .sample-img {
  width: 280px;
  height: 200px;
}

.mtop30 {
  margin-top: 30px;
  display: block;
}

.mtop20 {
  margin-top: 20px;
  display: block;
}

.post__example-form {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  width: 280px;
  margin: 0 auto;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.27);
  padding: 20px;
  background: #eee;
}

.post__example-form span,
.post__example-form label {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  text-align: left;
  width: 200px;
}

.post__example-form input:not([type=submit]) {
  width: 200px;
  height: 36px;
  border: 1px solid #1976D2;
  border-radius: 2px;
}

.post__example-form input[type=submit] {
  width: 70px;
  height: 30px;
  display: block;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 2px;
  background-color: #FFC107;
  margin-top: 20px;
}

.center {
  text-align: center;
}
