/*--------------------------------------*\
            ##CUSTOM STYLES
\*--------------------------------------*/

.site-heading {
  font-size: 36px;
}

.site-heading:first-letter {
  text-transform: capitalize;
}

.masthead-inner {
  padding: 20px;
  top: 35px;
}

.colophon p  {
  font-size: 14px;
  margin-top: 20px;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  background: transparent url('../avatar.jpg');
  border-radius: 50px;
  background-size: 125% 125%;
  background-position-x: -10px;
  border: 3px solid #eee;
  margin: 0 auto;
  -webkit-transition:all 200ms linear;
  -moz-transition:all 200ms linear;
  -o-transition:all 200ms linear;
  -ms-transition:all 200ms linear;
  -transition:all 200ms linear;
}

.avatar:hover {
  cursor: pointer;
}

.avatar:active {
  position: relative;
  top: 2px;
}

.masthead .lead, .masthead-inner .site-heading {
  text-align: center;
}

.masthead-inner .site-heading {
  margin-top: 10px;
}

.homeurl {
  margin-top: 20px;
  font-weight: 100;
  text-align: center;
}

.homeurl paper-button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal !important;
  text-transform: inherit;
  padding: 0;
}

paper-button.blogurl {
  width: 50px;
}

/*.highlight {
  background: rgba(240, 229, 229, 1);
  border-radius: 3px;
  color: green;
  padding: 1px;
}*/

.link {
  color: #BB3094;
  text-decoration: none;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  transition: all ease-in .3s;
  padding-bottom: 0.4px;
  border-bottom: 1px solid #ccc;
}

.link:hover {
  color: rgb(0, 168, 255);
  color: 1px solid rgb(0, 168, 255);
  text-decoration: none;
}

/* POST */

.post-image {
  width: 50%;
  margin: 0 auto;
  cursor: -webkit-zoom-in;
}

h2, h3, .site-heading {
  font-family: "Roboto";
  font-weight: 500;
}

.colored {
  text-decoration: none;
  background: #4285f4;
  color: #fff;
  text-transform: inherit;
  margin-top: 20px;
  margin-left: 0px;
  width: 120px;
  height: 45px;
  font-size: 16px;
  line-height: 1.5em;
}

h1 .post-link {
  text-decoration: underline;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

h1 .post-link:hover {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #4285f4;
}

/* SOCIAL SHARE */

.social-share {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 2px;
  padding: 0;
}

.social li {
  display: inline-block;
  position: relative;
}

.twitter_share {
  top: 5px;
}

.fb_share {
  top: 6.6px
}

.plus_share {
  top: 4.5px;
  left: 36px;
}

.inlBlk {
  display: inline-block;
}

#disqus_thread {
  margin-top: 30px;
}

.my_profile {
  margin: 0 auto;
  width: 200px;
  margin-top: 25px;
}

.my_profile a {
  margin-left: 5px;
}

.profile_desc {
  margin-bottom: 15px;
  font-size: 17px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

/* END */

/* ABOUT ME */

.about-me a {
  text-decoration: underline;
}

/* Make li element as numeric */

.numeric {
  list-style-type: decimal;
}

.highlight {
  margin-top: 35px;
  margin-bottom: 35px;
}