<div class="footer">
    <div class="colophon">
        <p>&copy; 2014. gokul All rights reserved.</p>
    </div>
</div>
<!-- plugins -->
<script src="/public/js/jquery-1.11.1.min.js"> </script>
<script src="/public/js/prism.js"></script>
<script src="http://codepen.io/assets/embed/ei.js"> </script>
<!-- end-->

<!-- share scripts -->

<!-- +1 button tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- end -->
<!-- fb script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end -->
<!-- twitter script-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- end -->
<!-- end of share scripts -->