<div class="footer">
  <div class="colophon">
    <p>&copy; 2014. gokulkrishh All rights reserved.</p>
	</div>
</div>

<!-- plugins -->
<script src="/public/js/jquery-1.11.1.min.js"> </script>
<script src="/public/js/prism.js"></script>
<script src="https://codepen.io/assets/embed/ei.js"> </script>
<!-- end-->

<!-- share scripts -->
<!-- +1 button tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- twitter script-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- end of share scripts -->