<header>
  <div class="wrapper">
    <h1 class="title">Gokulakrishnan Kalaikovan</h1>
    <header>
      <a href="/">Home</a> |
      <a href="/about">About</a>
    </header>  
    <i class="title__tag">
      I <span>♥</span> Web / UI Developer / 
      <a href="https://developers.google.com/experts/people/gokulakrishnan-kalaikovan" target="_blank">Google Developer Expert</a>
    </i>
    <div class="social">
      <p>Find me at 
        <a href="https://github.com/gokulkrishh" class="social__github" target="_blank"></a>
        <a href="https://twitter.com/gokul_i" class="social__twitter" target="_blank"></a>
        <a href="mailto:krishnangokul9@gmail.com" class="social__email" target="_blank"></a>
      </p>
    </div>
</header>
