<header>
  <div class="wrapper">
    <a class="avatar" href="{{ site.baseurl }}/"></a>
    <h1>Gokulakrishnan Kalaikovan</h1>
    <p class="tag">I <span>♥</span> Web / UI Developer</p>
    <a href="https://twitter.com/gokul_i" class="twitter-follow-button" data-lang="en" data-show-count="true">Follow @gokul_i</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="social-container">
      <a href="https://github.com/gokulkrishh" target="_blank" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://twitter.com/gokul_i" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/+Gokulkalaikoven" target="_blank" rel="noopener"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/gokulkrishh" target="_blank" rel="noopener"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="mailto:krishnangokul9@gmail.com" target="_blank" rel="noopener"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>
</header>
