<header class="site-header">

  <div class="wrapper">

    <a class="avatar" href="{{ site.baseurl }}/"></a>

    <h1>Hello World. I'm Gokul && I ♥ web.</h1>

    <p class="sub-heading">
      {% if page.url == "/" %}
      <a href="/" class="link active">blog </a>
      {% else %}
      <a href="/" class="link">blog </a>
      {% endif %}
      <span>/</span>
      {% if page.url == "/about/" %}
      <a href="/about/" class="link active">about</a>
      {% else %}
      <a href="/about/" class="link">about</a>
      {% endif %}
    </p>
    <p class="sub-heading">Follow me on <a href="https://twitter.com/gokul_i" target="_blank">Twitter</a> & <a href="https://github.com/gokulkrishh/" target="_blank">Github</a></p>
  </div>

</header>
