<ul class="post-controls social">
    <li>Share : </li>
    <li class="twitter_share"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </li>
    <li class="fb_share">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgokulkrishh.github.io%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=80&amp;appId=356304427868138" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: auto;height: 22px;" allowTransparency="true"></iframe>
    </li>

    <li class="plus_share"><div class="g-plusone" data-size="medium"></div></li>
</ul>