<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
     <div class="wrapper">
        <div class="page-content page__about">
        <h3>About</h3>
        <ul>
          <li>I currently work as <a href="#">UI Developer</a> at Ephicacy Lifescience Analytics in India, Bangalore.</li>
          <li><a href="https://developers.google.com/experts/people/gokulakrishnan-kalaikovan.html" target="_blank">Google Developer Expert</a> for Web Technologies.</li>
          <li>An open source contributor.</li>
          <li>My recent works & open sourced apps are <a title="Progressive Web Application" href="https://github.com/gokulkrishh/nearby-atms" target="_blank">Near by ATM's</a>, <a title="Progressive Web Application" href="https://github.com/gokulkrishh/demo-progressive-web-app" target="_blank">Demo PWA</a>,
          <a title="Progressive Web Application" href="https://github.com/code-kotis/barcode-scanner" target="_blank">QR Code Scan</a> etc,.</li>
        </ul>

        <h3>Talks</h3>
        <ul class="talks talk__list">
					<li><span>23 Jan 2017</span> - <a href="https://docs.google.com/presentation/d/1OixGz72qcJOpb3NC2BDINOHB_7PGp5LsrmyrXsDXDp4/edit?usp=sharing" target="_blank">ReactJS and Create-React-App</a></li>
					<li><span>21 Nov 2016</span> - <a href="https://docs.google.com/presentation/d/1COtqAkSMDiz6avZ-_olqFR66ooLVpHE9folNQCji7r0/edit?usp=sharing" target="_blank">Progressive Web Application</a></li>
					<li><span>22 Nov 2016</span> - <a href="https://docs.google.com/presentation/d/1lBTU4_haLt6MT68F-Aw-kRkkaSMaFCS7KlgYmYCEQsE/edit?usp=sharing" target="_blank">Angular 2 - introduction</a></li>
					<li><span>22 Oct 2016</span> - <a href="https://github.com/code-kotis/pwa-codelabs">PWA Codelabs - Google DevFest, Bangalore</a></li>
				</ul>
      </div>
    </div>

    {% include footer.html %}
    <div class="zoom__container">
      <div class="zoom__overlay"></div>
      <div class="zoom__element"></div>
    </div>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
