<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="wrapper">
	    <div class="page__content">
	    	<h3>Posts</h3>
	    	<ul>
				  {% for post in site.posts %}
				    <li>
				      {{post.date | date: '%B %d, %Y'}} - <a href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				  {% endfor %}
				</ul>
	    </div>
    </div>
    {% include footer.html %}
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
