<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h3>About</h3>
        <ul>
          <li>UI Developer at Ephicacy Lifescience Analytics, Bangalore.</li>

          <li>An open source contributor.</li>

          <li><a href="https://developers.google.com/experts/people/gokulakrishnan-kalaikovan.html" target="_blank">Google Developer Expert</a> for Web Technologies.</li>

          <li>My recent talk's on <a href="http://gokulkrishh.github.io/demo/pwa/" target="_blank">Progressive Web Application</a>, <a href="https://github.com/gokulkrishh/ES6-Cheetsheets" target="_blank">ECMAScript 6</a>.</li>

          <li>My recent open source's <a title="Progressive Web Application" href="https://github.com/code-kotis/barcode-scanner" target="_blank">QR Code Scan</a>, <a title="Progressive Web Application" href="https://github.com/gokulkrishh/anonymous-web" target="_blank">Anonymous Chat</a>. <p>(checkout my <a href="https://github.com/gokulkrishh" target="_blank" rel="noopener">github</a> for more)</p></li>

        </ul>
      </div>
    </div>

    {% include footer.html %}

    <!-- Service Worker -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
