<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h3>About</h3>
        <ul>
          <li>UI Developer at Ephicacy, Bangalore.</li>

          <li>Contributor to open source projects.</li>

          <li><a href="https://developers.google.com/experts/people/gokulakrishnan-kalaikovan.html" target="_blank">Google Developer Expert</a> for Web Technologies.</li>

          <li>My recent talk's on <a href="http://gokulkrishh.github.io/demo/pwa/" target="_blank">Progressive Web Application</a>, <a href="https://github.com/gokulkrishh/ES6-Cheetsheets" target="_blank">ECMAScript 6</a>.</li>

          <li>My recent open source's <a title="Progressive Web Application" href="https://github.com/code-kotis/barcode-scanner" target="_blank">QR Code Scan</a>, <a title="Progressive Web Application" href="https://github.com/gokulkrishh/anonymous-web" target="_blank">Anonymous Chat</a></li>

          <li>Find me at:
            <a href="https://github.com/gokulkrishh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://twitter.com/gokul_i" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/+Gokulkalaikoven" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/gokulkrishh" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>

    {% include footer.html %}

    <!-- Service Worker -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
